html {
	font-size: 20px;
	box-sizing: border-box;
}

body {
	text-align: center;
	color: #555;
  background: url("images/ksu.png");
  background-size: cover;
	font-size: 1rem;
	margin-top: 1em;
}

h1 {
	font-size: 4rem;
  color: white;
	letter-spacing: 4px;
	margin: 0;
  background: black;
  display: inline-block;
}

.board {
	margin: 30px auto;
	display: flex;
	flex-flow: row;
	border: 1px solid #bbb;
	box-shadow: 0 0 5px #bbb;
	width: 1000px;
	height: 250px;
	max-width: 100%;
  background: gray;
	resize: both;
	overflow-x: auto;
	border-radius: 20px;

	&, p {
		transform: rotate(0deg);
		transition: transform 3s ease 0s;
	}

	[data-player="two"] &,
	[data-player="two"] & p {
		transform: rotate(180deg);
	}
}

.rows {
	flex: 7;
	display: flex;
	flex-direction: column;
}

.store {
	flex: 1;
	border-radius: 40px;
}

.row {
	flex: 1;
	display: flex;

	&.player-two {
		flex-direction: row-reverse;
	}
}

.store, .pit {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.15);
	box-shadow: inset 0 0 2px rgba(0,0,0,.5);
	cursor: default;

	p {
		cursor: inherit;
	}

	p::selection {
		background: transparent;
	}
}

.pit {
	flex: 1;
	border-radius: 40%;
}

.status {
  color: black;
  font-size: 1rem;
}

[data-player="two"] .row.player-two .pit,
[data-player="one"] .row.player-one .pit {
	cursor: pointer;
}

[data-player="two"] .store.player-two, .player-two .pit {
	color: purple;
}

[data-player="one"] .store.player-one, .player-one .pit {
	color: white;
}

button {
	cursor: pointer;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: white;
	background: black;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );

	&:hover {
		background: #fafafa;
		color: #23282d;
	}
}
